@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Inter:slnt,wght@-10..0,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
    --primerycolor: #f8da96;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: black;
}

.main-container {
    padding: 1rem 0;
}

section {
    margin: 1rem auto;
    width: 90%;
    min-height: 110vh;
    background-color: black;
}

.grid-templet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* Navigation */
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 20%;
    background:linear-gradient( 180deg, black, transparent);
    border-bottom: 1px solid var(--primerycolor);
    z-index: 99;
}

nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: clamp(16px, 4vw, 32px);
    font-weight: 400;
    font-family: 'Newsreader', serif;
    color: var(--primerycolor);
    /* cursor: pointer; */
}

.btn-reservasi {
    font-size: clamp(10px, 2vw, 14px);
    font-weight: 600px;
    padding: 10px 18px;
    color: var(--primerycolor);
    background-color: transparent;
    border: 2px solid var(--primerycolor);
}

/* Hero */
#hero {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    transition: 6s;
    background-position: center;

    animation-name: animation;
    animation-direction: alternate-reverse;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animation {
    0% {
        background-image: url('../img/heroimg.webp');
    }
    50% {
        background-image: url('../img/galeri1.webp');
    }
    100% {
        background-image: url('../img/galeri2.webp');
    }
}

.gradasi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 20%;
    background:linear-gradient(180deg, transparent, black);
    z-index: 9;
}

.scroll-down {
    font-size: small;
    letter-spacing: 2px;
    font-weight: 100;
    opacity: 0.7;
}

.gradasi svg {
    /* padding-top: 1rem; */
    fill: rgb(177, 176, 176);
}

/* About Us */
#about-us {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

#about-us > div {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-img {
    position: relative;
    width: 80%;
}

.about-us-img img {
    width: 100%;
}

.about-us-img .img1 {
    position: absolute;
    top: 10%;
    right: -30px;
    width: 50%;
}

.about-us-img .img2 {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 40%;
}

.pre-title {
    color: var(--primerycolor);
    font-size: 12.5px;
    font-weight: 500;
    padding-top: 2rem;
    margin-bottom: 8px;
}

.section-title {
    font-family: 'Gentium Plus';
    font-size: clamp(24px, 4vw, 40px);
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 24px;
}

.content {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 15px;
}

/* Galery */
#galery {
    position: relative;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slider {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

}

.slide {
    width: 700%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.st {
    width: 20%;
    transition: 2s;
}

.st img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.nav-m {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.m-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child) {
    margin-right: 30px;
}
.m-btn:hover {
    background-color: #fff;
}

#radio1:checked ~.first {
    margin-left: 0;
}
#radio2:checked ~.first {
    margin-left: -20%;
}
#radio3:checked ~.first {
    margin-left: -40%;
}
#radio4:checked ~.first {
    margin-left: -60%;
}
#radio5:checked ~.first {
    margin-left: -80%;
}
#radio6:checked ~.first {
    margin-left: -100%;
}

.nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 460px;
    display: flex;
    justify-content: center;

}

.nav-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child) {
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1 {
    background-color: #fff;
}
#radio2:checked ~ .nav-auto .a-b2 {
    background-color: #fff;
}
#radio3:checked ~ .nav-auto .a-b3 {
    background-color: #fff;
}
#radio4:checked ~ .nav-auto .a-b4 {
    background-color: #fff;
}
#radio5:checked ~ .nav-auto .a-b5 {
    background-color: #fff;
}
#radio6:checked ~ .nav-auto .a-b6 {
    background-color: #fff;
}

/* Our Menu */
.container {
    position: relative;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease-in-out;
    opacity: 0;
}
  
.container:hover .overlay {
    height: 100%;
    opacity: 0.8;
}
  
.text-menu {
    width: 100%;
    /* height: 100%; */
    text-align: center;
    /* white-space: nowrap;  */
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text-menu h1 {
    font-family: 'Gentium Plus';
    font-size: 20px;
    margin:0 10px 10px;
}

.text-menu p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 10px;
}

/* Testimonials */
#testimonials {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.test {
    display: flex;
    text-align: center;
    max-width: 500px;
}

.container-slider {
    margin: auto;
    width: 70%;
}

.slider-testimonial {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide-testimonial {
    display: flex;
}

.slide-testimonial div {
    /* background-color: blue; */
    width: 100%;
    height: 350px;
    aspect-ratio: 22 / 9;
    transition: all 2s ease;
}

.slide-testimonial input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid #fff 2px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #fff;}

#radio-1:checked ~ .first1 {
    margin-left: 0;
}
#radio-2:checked ~ .first1 {
    margin-left: -100%;
}
#radio-3:checked ~ .first1 {
    margin-left: -200%;
}

.slide1 {
    padding: 15px;
    border: 2px solid var(--primerycolor);
}

.slide1 h1 {
    font-size: clamp(16px, 3vw, 32px);
    text-align: start;
    width: 100%;
}

.slide1 p {
    font-size: clamp(12.5px, 3vw, 15px);
    text-align: start;
    width: 100%;
}

.slide1 h3 {
    padding-top: 0;
}

/* Contact Us */
.container-contact-us {
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 500px;
    background-image: url('../img/contactusimg.jpg');
    background-size: cover;
    background-position: center;
}

.contact-us {
    text-align: center;
    margin: 5rem 0;
}

.contact-us h2 {
    font-family: 'Gentium Plus';
    margin-top: 3rem;
}

/* Footer */
footer {
    max-width: 1100px ;
    margin: 4rem auto 1rem;
    padding: 0 1rem;
    /* background-color: blue; */
}

.address-map {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    /* background-color: red; */
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .address-map {
        display: flex;
        flex-direction: column;
    }
}

.address-map div h2 {
    font-family: 'Gentium Plus';
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.address-map div h3 {
    padding-top: 0;
}

.address-map svg {
    fill: #fff;
}

.hr {
    width: 100%;
    height: .5px;
    background-color: #3a3a3a;
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.copyright p {
    font-size: clamp(8px, 2vw, 10px);
    font-weight: 300;
}